:root {
    --primary-color: #7597b4;
    --secondary-color: #437eb8;
    --background-color: #ffffff;
    --secondary-background-color: #212121;
    --text-color: #212121;
    --secondary-text-color: #ffffff;
    --font: 'Lato', sans-serif;
}

body, html {
    background-color: var(--background-color);
    color: var(--text-color);
    font-family: var(--font);
    height: 100%;
    overflow: auto;
}

#navbarNav .nav-item > .nav-link[href="./index.html"] {
    padding: 8px 8px 8px 0;
}

.logo {
    border-radius: 50%;
    width: 50px;
    height: 50px;
}

.card-body button {
    background-color: var(--secondary-color);
    color: var(--secondary-text-color);
}

.modal-footer button{
    background-color: var(--secondary-color);
    color: var(--secondary-text-color);
}

footer .container {
    background-color: var(--primary-color);
    color: var(--secondary-text-color);

    position: fixed;
    bottom: 0;
    width: 100%;
    margin: 0;
    max-width: 100%;
    padding: 12px;
}

.float-right a {
    color: var(--secondary-color);
}

.modal-body .text-end button {
    background-color: var(--secondary-color);
    color: var(--secondary-text-color);
}